$blue-gradient: linear-gradient(135deg, #5753E8 0%, #28DEEF 100%)
$gold-gradient: linear-gradient(180deg, #FFDFAE 0%, #BC8740 100%)
$orange-gradient: linear-gradient(95.62deg, #EF422B 0%, #efdb28 99.74%)

$color-d-blue: #5753E8
$color-l-blue: #28DEEF
$color-green: #30D0AA

@font-face
	font-family: 'Msyh'
	src: url('/chinese.msyh.ttf')
	font-display: swap
	font-style: normal


body
  font: 16px 'Msyh', sans-serifi
  background: #f2f2f8
  color: #3F3F3F
  padding-top: 96px

@media (max-width: 420px)
  body
    padding-top: 69px


.container
  max-width: 1200px
  padding: 0 10px
  margin: 0 auto

.banner
  margin-bottom: 50px
  background-position: center !important

.gold-bg
  background: $gold-gradient !important

.text-center
  text-align: center
.fs-22
  font-size: 22px !important
.section-header
  font-weight: bold
  letter-spacing: 0.05em
  text-transform: uppercase
  color: #403E83
  &.header-w-icon
    display: flex
    align-items: center
    justify-content: flex-start
    img
      margin-right: 20px
  &.style-simple
    font-weight: normal
    font-size: 64px
    color: #454545
    span
      font-size: 74px
      color: #1998f3
      text-transform: uppercase
  &.style-outline
    font-size: 72px
    color: #403E83
    -webkit-text-fill-color: white
    -webkit-text-stroke-width: 4px
    -webkit-text-stroke-color: #403E83
  &.w-icon
    font-size: 40px
    display: flex
    align-items: center
    margin-bottom: 40px
    svg
      margin-right: 20px

.section-subheader
  font-weight: bold
  font-size: 20px
  letter-spacing: 0.1em
  text-transform: uppercase
  color: #455567

.section-divider
  position: relative
  border-radius: 8px
  padding: 40px 0 40px 240px
  margin-bottom: 40px
  &.divider-blue
    background: $blue-gradient
  &__img
    position: absolute
    width: 150px
    height: 150px
    object-fit: cover
    left: 30px
    top: 0
    bottom: 0
    margin: auto 0

  &__text
    p
      color: #FFFFff
      letter-spacing: 0.1em
      text-transform: uppercase
      &:first-child
        font-size: 36px
        font-weight: bold
        margin-bottom: 10px
      &:last-child
        font-size: 18px

.text-orange
  background: $orange-gradient
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.text-blue
  background: $blue-gradient
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.btn
  display: flex
  align-items: center
  justify-content: center
  padding: 8px 10px
  width: 160px
  border-radius: 8px
  cursor: pointer

  p
    font-weight: bold
    color: #ffffff
  &.btn-hover-shadow
    &:hover
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)
  &.btn-d-blue-solid
    background: $color-d-blue
  &.btn-l-blue-solid
    background: $color-l-blue
  &.btn-green-solid
    background: $color-green
  &.btn-blue
    background: $blue-gradient
  &.btn-orange
    background: $orange-gradient
  &.btn-white
    background: #FFFFff
    p
      color: #000000 !important
  &.btn-w-img
    justify-content: space-between

.btn-grey-outline
  background: #FFFFFF
  border: 1px solid #E8E8E8
  box-sizing: border-box
  display: flex
  align-items: center
  justify-content: space-between
  padding: 10px 20px
  &__group
    display: flex
    align-items: center
    justify-content: space-between
    flex-basis: 35px
  p

    font-size: 14px
    line-height: 24px
    color: #586F7C
  span
    display: inline-block

    font-size: 12px
    letter-spacing: 0.05em
    text-transform: uppercase
    color: #3E3442

.btn-outline
  //border-radius: 50px !important
  padding: 1px
  &-inner
    background: #FFFFff
    padding: 8px 10px
    width: 100%
    border-radius: 8px !important
    p
      text-align: center
      background: $orange-gradient
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
  &.btn-outline-grey
    &-inner
      background: #E8E8E8
  &.btn-outline-gold
    background: $orange-gradient
  &.btn-outline-blue
    background: $blue-gradient
    & .btn-outline-inner
      p
        background: $blue-gradient
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
  &.btn-outline-d-blue
    background: $color-d-blue
    & .btn-outline-inner
      p
        color: $color-d-blue
        background: #FFFFff
        -webkit-background-clip: unset
        -webkit-text-fill-color: unset
  &.btn-outline-l-blue
    background: $color-l-blue



.block-rounded
  background: #FFFFFF
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05)
  border-radius: 8px
  margin-bottom: 20px
  &.p50
    padding: 50px
  &.p20
    padding: 20px
  &.border-orange
    background: $orange-gradient
    &.block-rounded
      padding: 8px

.block-inner
  border-radius: 8px
  background: #ffffff
  padding: 50px


.mb-10
  margin-bottom: 10px !important
.mb-20
  margin-bottom: 20px !important
.mb-30
  margin-bottom: 30px !important
.mb-40
  margin-bottom: 40px !important
.mb-50
  margin-bottom: 50px !important
.mb-60
  margin-bottom: 60px !important


.page-fixed
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  position: fixed
  z-index: 1000
  right: 20px
  bottom: 20px
  &__top-btn
    background: rgba(255, 255, 255, 0.8)
    border-radius: 8px
    padding: 16px
    display: inline-block

    cursor: pointer


  &__info-btn
    background: rgba(255, 255, 255, 0.8)
    border-radius: 8px
    padding: 11px
    display: inline-flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    height: 386px
    cursor: pointer
    margin-bottom: 15px

    svg
      margin-bottom: 10px
    span
      display: block
      max-width: 35px
      margin: 0 auto


.faq-wrapper
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 20px
