.girl-login
  width: unset
  max-width: 500px
  &-page
    display: flex
    align-items: center
    justify-content: center
    height: 100vh
  &__header
    p
      text-align: center
      text-transform: uppercase
      font-weight: bold
      font-size: 36px
      letter-spacing: 0.05em
      color: #455567
