.header
  background: #413FAA
  position: fixed
  width: 100%
  top: 0
  &-wrapper
    padding: 19px 30px
    display: flex
    align-items: center
    justify-content: space-between
  &-nav
    flex-basis: 450px
    &__wrapper
      display: flex
      align-items: center
      justify-content: space-between
    &__item
    &__link
      color: #ffffff
      font-size: 14px
  &-balance
    background: #4C32B1
    border-radius: 10px
    //padding: 7px 10px
    padding: 0 0 0 7px
    display: flex
    align-items: center
    justify-content: space-between
    color: #5C5C5C
    font-size: 14px
    flex-basis: 260px
    &__img
      display: flex
      align-items: center
      justify-content: flex-start
      flex-basis: 40px
    &__amount
      font-weight: bold
      flex-grow: 1
      color: #FFFFff
    &__text
      letter-spacing: 0.1em
      color: #FFFFff
      flex-grow: 1
    &__btn
      background: #FFFFff
      font-weight: bold
      font-size: 10px
      line-height: 13px
      letter-spacing: 0.1em
      color: #269AEE
      padding: 13px
      border-radius: 0px 10px 10px 0px
      cursor: pointer
  &-buttons
    display: flex
    align-items: center
    justify-content: space-between
    &.fb-200
      flex-basis: 200px
    &.fb-380
      flex-basis: 380px
    &__item
      border-radius: 10px
      width: 40px
      height: 40px
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center
      background: #E8E8E8
  &-button
    display: flex
    align-items: center
    justify-content: center
    width: 40px
    height: 40px
    background: #3B3A9A
    border-radius: 8px
    cursor: pointer
    border: none
    &:hover
      background-color: #3B3A9A
    &:focus
      background-color: #3B3A9A

    p
      color: #FFFFff
      font-size: 14px
      letter-spacing: 0.1em
      cursor: pointer
  &-mobile
    display: none
    align-items: center
    justify-content: space-between
    flex-basis: 150px
    &__btn
      width: 40px
      height: 40px
      display: flex
      align-items: center
      justify-content: center
      background: #3230A3
      border-radius: 10px
      transition: all .2s linear
      &-icon
        color: #FFFFff
        transition: all .2s linear
        font-size: 26px
      &.bntActive
        background: #FFFFff
        & .header-mobile__btn-icon
          color: #3230A3

.mobile-menu
  position: absolute
  top: 68px
  width: 300px
  right: 0
  transform: translateX(110%)
  background: #FFFFff
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
  z-index: 1000
  display: flex
  align-items: center
  justify-content: center
  transition: all .2s linear
  &.mobileMenuActive
    transform: translateX(0)

  &__wrapper
    padding: 70px 0
  &__item
    text-align: center
    margin-bottom: 25px
    &:last-child
      margin-bottom: 0
  &__link
    color: #212121


@media (max-width: 420px)
  .logo
    width: 128px
    height: 44px
  .header
    &-nav
      display: none
    &-buttons
      display: none
    &-balance
      display: none
    &-login
      display: none
    &-mobile
      display: flex
